body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: url(webb.png);

}

code {
  font-family: 'Anton', sans-serif;
}
.parent{
 
  display:flex;
  flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.parent img{
  height: 90vh;
  box-shadow: #5FB7C7 4px 4px;
  margin-bottom: 4px;
  margin-top: 2px;
  background-color: #5FB7C7;
}
.parent button{
  height: fit-content;
  
}
.popover-div{
padding-top: 2px;
display: flex;
justify-content: space-evenly;
width: -webkit-fill-available;
}

.header {
  font-family: 'Syne Mono', monospace;
  display: flex;
  justify-content: space-between;
  margin: 2px;
}
.header h1 {
  font-size: 2.3rem;
}
.header p {
  font-size: 1.3rem;
}
/* this is for the landing page button to take you to view the random photo generator  */
.navButtonDiv{
  display: flex;
  justify-content: flex-end;
  padding-right: 17px;

  /* clip-path: ellipse(35% 17% at 50% 50%); */


}
.navButtonDiv button {
  border-style: line;
  width: 45px;
  height:45px;
  color: #fff;
  background-color: #5FB7C7;
  border-radius: 20px;
 /* need to add clip path to make shape of button correct  */

  
}